# AI LAB 9
### NAME : MINHA MAHMOOD
### ROLL NO: BSAIM-F24-099

Using <b> Python </b> v3.135
<hr>
with <b> Jupyter Notebook </b>v7.5

<div class ="alert alert-block alert-warning">
 Using <b style = "color:orange"> Python </b> v3.135
<hr>
with <b> Jupyter Notebook </b>v7.5
</div>

<div class ="alert alert-block alert-info">
  Import <b>Libraries</b>
</div>

In [ ]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is E0C3-156F

 Directory of c:\Users\Lenovo L380 A&I\Downloads\archive (7)

28/10/2025  14:23    <DIR>          .
28/10/2025  14:21    <DIR>          ..
28/10/2025  14:21           526,795 data.csv
28/10/2025  14:21         1,721,295 data.dat
28/10/2025  14:21           526,795 output.csv
28/10/2025  14:23             1,077 project ai.ipynb
               4 File(s)      2,775,962 bytes
               2 Dir(s)  44,435,165,184 bytes free

<div class ="alert alert-block alert-info">
1. <b>Data Gathering</b>
</div>

In [1]:
#!pip install pandas
import pandas as pd

<div class ="alert alert-block alert-info">
2. <b>Data Loading</b>
</div>

In [2]:
df=pd.read_csv("Wholesale customers data.csv")
# df=pd.read_json("")
df
print()

<div class ="alert alert-block alert-info">
3. <b>Data exploration</b>
</div>

In [3]:
df.head()
#tells ist 5 rows

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [5]:
df.tail()
# last five rowa

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [4]:
df.describe()
# tells numeric value

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [6]:
df.info()
# total values and null values nA(empty cells)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [7]:
df.count()
# agar mein 1 likho ghi tou ye 1 index oar btae gh

Channel             440
Region              440
Fresh               440
Milk                440
Grocery             440
Frozen              440
Detergents_Paper    440
Delicassen          440
dtype: int64

In [8]:
df['Region'].unique()
#unique cities btae gha jo baar baaar repeat ho rahi

array([3, 1, 2])

In [9]:
df.nunique()
# no of unique values btae gha

Channel               2
Region                3
Fresh               433
Milk                421
Grocery             430
Frozen              426
Detergents_Paper    417
Delicassen          403
dtype: int64

In [10]:
df.columns

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')

In [11]:
for col in df.columns:
    print(col)
#arranged form mein deta column

Channel
Region
Fresh
Milk
Grocery
Frozen
Detergents_Paper
Delicassen

In [12]:
df.isnull().sum()
# returns true false values if there is null value or not
#sum hamne islia use kia bcz ye true false ko count kr k btae gha

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

<div class="alert alert-block alert-info">
    1. <b>lab 10</b>
</div>

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-danger">
    4.1. <b>Manage Null Values</b>
</div>

In [13]:
# df.drop('Region', axis=1, inplace=True)
df = df.drop('Region', axis=1)

In [14]:
df=df.drop('Fresh', axis=1)

In [15]:
# For Object
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Channel', 'Delicassen', 'Milk']
fillnaObjectMode(columns)

In [16]:
# For Int Type
def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Channel','Milk','Grocery','Frozen','Detergents_Paper','Delicassen']
fillnaIntMode(columns)

In [17]:
# For Float 
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Channel','Milk','Grocery','Frozen','Detergents_Paper','Delicassen']
fillnaFloatMean(columns)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Milk              440 non-null    int64
 2   Grocery           440 non-null    int64
 3   Frozen            440 non-null    int64
 4   Detergents_Paper  440 non-null    int64
 5   Delicassen        440 non-null    int64
dtypes: int64(6)
memory usage: 20.8 KB

<div class="alert alert-block alert-danger">
    4.2. <b>Manage Data Types</b>
</div>

In [19]:
df['Delicassen'] = df['Delicassen'].astype('int64')

In [20]:
# For Float 
def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Channel','Milk','Grocery','Frozen','Detergents_Paper','Delicassen']
changeFloatToInt(columns)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Milk              440 non-null    int64
 2   Grocery           440 non-null    int64
 3   Frozen            440 non-null    int64
 4   Detergents_Paper  440 non-null    int64
 5   Delicassen        440 non-null    int64
dtypes: int64(6)
memory usage: 20.8 KB

In [22]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [23]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data)) 
        df[i] = data_LE.transform(df[i])
        
columns = ['Channel', 'Delicassen', 'Milk']
convertObjToInt(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Milk              440 non-null    int64
 2   Grocery           440 non-null    int64
 3   Frozen            440 non-null    int64
 4   Detergents_Paper  440 non-null    int64
 5   Delicassen        440 non-null    int64
dtypes: int64(6)
memory usage: 20.8 KB

In [25]:
df.head(2)

   Channel  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        1   349     7561     214              2674         240
1        1   353     9568    1762              3293         289

In [26]:
df.to_csv('processed_data.csv', index=False, header=True)

In [27]:
df = pd.read_csv('processed_data.csv')
df

     Channel  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0          1   349     7561     214              2674         240
1          1   353     9568    1762              3293         289
2          1   341     7684    2405              3516         397
3          0    73     4221    6404               507         292
4          1   265     7198    3915              1777         388
..       ...   ...      ...     ...               ...         ...
435        0   375    16027   13135               182         324
436        0    91      764    4510                93         331
437        1   392    30243     437             14841         300
438        0   130     2232    1038               168         315
439        0   109     2510      65               477          11

[440 rows x 6 columns]

<div class="alert alert-block alert-info">
     <b>lab 11</b>
</div>

<div class="alert alert-block alert-danger">
    5. <b>Train - Test Splitting</b>
</div>

In [28]:
import pandas as pd
df = pd.read_csv('processed_data.csv')
# df.info()
df.columns

Index(['Channel', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper',
       'Delicassen'],
      dtype='object')

In [33]:
X = df.drop('Channel', axis=1) 
y = df['Channel']

In [34]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [35]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(308, 5) (308,)
(132, 5) (132,)

<div class="alert alert-block alert-danger">
    1. <b> Model Training</b>
</div>

In [36]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [37]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0])

In [38]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")

87.9 %

In [39]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))   #model saved

In [40]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))  # Model Loading